{% extends 'layout.html' %}

{% block content %}
<h1>
    Technologies
</h1>
<div class="row justify-content-center">
<div class="card m-2" style="width: 18rem;">
    <img src="{{url_for('static',filename='pythonLogo.png')}}" class="card-img-top" alt="logo">
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">Lenguaje de programación muy versátil y de fácil aprendizaje</p>
      <a href="https://docs.python.org/3/" target="_blank" class="btn btn-primary">+ Info</a>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="{{url_for('static',filename='flaskLogo.png')}}" class="card-img-top" alt="logo" height="262px" width="288px">
    <div class="card-body">
      <h5 class="card-title">Flask</h5>
      <p class="card-text">Framework de desarrolló web rápido y escalable</p>
      <a href="https://flask.palletsprojects.com" target="_blank" class="btn btn-primary">+ Info</a>
    </div>
  </div>
</div>



{% endblock content %}
    
